* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f4f6f9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    width: 1000px;
    height: 500px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.landing-container h2 {
    margin-bottom: 8px;
    color: #333;
}

.landing-container p {
    margin-bottom: 30px;
    color: #777;
}

.card-container {
    display: flex;
    gap: 20px;
}

.action-card {
    flex: 1;
    padding: 25px;
    border-radius: 10px;
    cursor: pointer;
    background: #f1f3f6;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    height: 300px;
}

.action-card h3 {
    margin-bottom: 10px;
    color: #333;
}

.action-card p {
    font-size: 14px;
    color: #666;
}

.action-card:hover {
    transform: translateY(-5px);
    border-color: #007bff;
    background: #eef5ff;
}

/* Add Product Card */
.action-card.add:hover {
    border-color: #28a745;
    background: #ecfff3;
}


.action-card.bind:hover {
    border-color: #c0b488;
    background: #f5bd2e84;
}
